head
  title GuitarApp!!!

body

template(name='timeline-layout')
  #timeline-layout.cg1-mid
    #banner.cg2-mid
      <span class='usercard'>{{yield 'usercard'}}</span><span class='global-controls cg2-light'>{{yield 'global-controls'}}</span>
    #sidebar.cg1-mid
      .section
        {{yield 'heavy-rotation'}}
      .section
        {{yield 'next-level'}}
      .section
        {{yield 'demos'}}
    #timeline.cg1-light
      {{yield}}

template(name='profile')
  h1 profile!

template(name='usercard')
  img(src='profile.jpg')
  .short-bio
    h1 Mr Dylan
    ul
      li Teacher
      li Student

template(name='timeline')
  .post
    h1 interesting story is interesting.
  .post
    h1 interesting story is interesting.
  .post
    h1 interesting story is interesting.

template(name='global-controls')
  ul
    li 
      a logout
    li 
      a settings
    li 
      a help

template(name='heavy-rotation')
  h1 heavy rotation!

template(name='next-level')
  h1 ready for the next level?

template(name='demos')
  h1 demos!
